# -------------------------
# Node.js
# -------------------------
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log
package-lock.json
.env
.env.local
.env.*.local

# -------------------------
# Logs
# -------------------------
*.log
logs/
debug.log
error.log

# -------------------------
# Sistema Operativo
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Editor / IDE
# -------------------------
.vscode/
.idea/
*.swp

# -------------------------
# Build / Temp
# -------------------------
dist/
build/
tmp/
temp/
